@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
body{
  font-family: sans-serif;
}
.fa-icon{
  cursor: pointer;
  transition: 0.5s ease-in;
}
.fa-icon:hover{
  transform: scale(1.1);
}